html, body {
    height: 100%; /* Высота всей страницы */
    margin: 0; /* Убираем стандартные отступы */
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1; /* Занимает все доступное пространство */
}

#brand-k {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #33B471;  
}

#brand-x {
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    color: #192A3E;  
}

.navbar {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
    font-weight: 400;
    color: #192A3E;
    margin-left: 20px;
    padding: 8px 16px;
    border-radius: 10px;
}

#active {
    font-weight: 600;
    background-color: #33B471;
    color: white;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
}

.c-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-item-with-avatar {
    display: flex;
    align-items: center;
}

.book-card {
    border-radius: 12px;
    color: #192A3E;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    min-height: 100%;
}

.book-card p {
    font-size: 20px;
}

.book-card span {
    font-size: 12px;
}

.book-card img:hover {
    filter: grayscale(50%); 
    transition: filter 0.3s ease; 
}

.small-book-card {
    border-radius: 8px;
    padding: 10px;
    color: #192A3E;
    text-align: left;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.small-book-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.small-book-card p {
    font-size: 14px;
    margin: 5px 0 0;
    font-weight: 600;
}

.small-book-card .author {
    font-size: 12px;
    color: #AAAAAA;
}

.small-book-card img:hover {
    filter: grayscale(50%); 
    transition: filter 0.3s ease; 
}

.small-book-card p:hover,
.small-book-card .author:hover {
    color: #888;
    transition: color 0.3s ease;
}

h3 {
    font-weight: 600;
    color: #192A3E;
}

.btn-custom {
    background-color: #33B471;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-custom-desired {
    background-color: #C1BBFF;
    color: #3a28ff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-custom-desired:hover {
    color: black;
}

.badge {
    font-size: 0.9em;
    padding: 5px 10px;
}

.custom-badge {
    color: #192A3E !important;
    background-color: #E1E5EC !important;
    font-size: 0.9em;
    padding: 5px 10px;
}

.book-card.price {
    font-size: 1.2em;
    font-weight: bold;
}

.price {
    color: #33B471;
    font-size: 1.5rem;
    font-weight: 700;
}

.book-card-info .text-muted.small.mb-2 {
    font-size: 12px;
}

.book-card-info .mb-2 {
    font-size: 16px;
}

.book-card img {
    width: 384px;
    height: 610px;
    object-fit: cover;
}

.small-book-card img {
    width: 180px;
    height: 257px;
    object-fit: cover;  
}

.book-card-catalog {
    border-radius: 12px;
    color: #192A3E;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    min-height: 100%;
}

.book-card-catalog p {
    font-size: 20px;
}

.book-card-catalog span {
    font-size: 12px;
}

.book-card-catalog img:hover {
    filter: grayscale(50%); 
    transition: filter 0.3s ease; 
}

.book-card-catalog img {
    width: 500px;
    height: 250px;
    object-fit: cover;  
}

.book-image {
    max-width: 400px;
    margin-bottom: 20px;
}
.in-stock {
    color: #28a745;
    font-size: 18px;
    float: right;
}
.not-in-stock {
    color: #a7a7a7;
    font-size: 18px;
    float: right;
}
.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox-label input[type="checkbox"] {
    margin-right: 10px;
}
.price-block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    height: 250px;
    position: relative;
}
.inblock-price {
    font-size: 48px;
    color: #6a76f3;
    margin-bottom: 10px;
}
.buttons-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container form {
    display: flex;
    flex-direction: column;
}
.login-container form label {
    margin-bottom: 5px;
}
.login-container form input[type="text"],
.login-container form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-container form button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container form button:hover {
    background-color: #218838;
}
.register-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.register-container form {
    display: flex;
    flex-direction: column;
}
.register-container form label {
    margin-bottom: 5px;
}
.register-container form input[type="text"],
.register-container form input[type="email"],
.register-container form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.register-container form button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.register-container form button:hover {
    background-color: #218838;
}
.sidebar .nav-link.active {
    color: #28a745;
    font-weight: bold;
}

.card-header {
    background-color: #33B471;
}

.page-link {
    color: #28a745;
}

.page-item.active .page-link {  
    color: #ffff;
    background: #28a745;
    border-color: #ffff;
}

.page-item :hover {
    color: #28a745;
}

.cart-container, .checkout-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cart-item {
    display: flex;
    gap: 20px;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.item-details {
    flex: 1;
}

.cart-summary {
    margin-top: 20px;
    text-align: right;
}

.checkout-button {
    display: inline-block;
    padding: 10px 20px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

