{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h3 class="pb-3">Новые</h3>
    <div class="row">
        {% include "includes/book_card.html" %}
    </div>
    
    {% for category in categories %}
        <h3 class="mt-5 pb-3">{{ category.title }}</h3>
        <div class="row">
            {% for book in category.book_set.all|slice:":6" %}
                {% include "includes/small-book-card.html" %}
            {% empty %}
                <p>В этой категории пока нет книг :(</p>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}