{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h3 class="pb-3">Новые</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="book-card bg-white p-3 text-left">
                <a href="#"><img src="{% static 'img/book.jpg' %}" class="img-fluid mb-3" alt="Книга"></a>
                <div class="tags mb-2">
                    <span class="badge custom-badge me-1">Новое</span>
                    <span class="badge custom-badge me-1">Программирование</span>
                </div>
                <p class="mb-2">Парсинг с помощью Python.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-custom">Подробнее</button>
                    <p class="price mb-0">881 ₽</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="book-card bg-white p-3 text-left">
                <img src="{% static 'img/book.jpg' %}" class="img-fluid mb-3" alt="Книга">
                <div class="tags mb-2">
                    <span class="badge custom-badge me-1">Новое</span>
                    <span class="badge custom-badge me-1">Программирование</span>
                </div>
                <p class="mb-2">Парсинг с помощью Python.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-custom">Подробнее</button>
                    <p class="price mb-0">881 ₽</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="book-card bg-white p-3 text-left">
                <img src="{% static 'img/book.jpg' %}" class="img-fluid mb-3" alt="Книга">
                <div class="tags mb-2">
                    <span class="badge custom-badge me-1">Новое</span>
                    <span class="badge custom-badge me-1">Программирование</span>
                </div>
                <p class="mb-2">Парсинг с помощью Python.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-custom">Подробнее</button>
                    <p class="price mb-0">881 ₽</p>
                </div>
            </div>
        </div>
    </div>
    
    <h3 class="mt-5 pb-3">Программирование</h3>
    <div class="row">
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <a href="#"><img src="{% static 'img/book.jpg' %}" alt="Книга"></a>
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
    </div>

    <h3 class="mt-5 pb-3">Математика</h3>
    <div class="row">
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}