{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h3 class="pb-3">Новые</h3>
    <div class="row">
        {% include "includes/book_card.html" %}
    </div>
    
    <h3 class="mt-5 pb-3">Программирование</h3>
    <div class="row">
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <a href="#"><img src="{% static 'img/book.jpg' %}" alt="Книга"></a>
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
    </div>

    <h3 class="mt-5 pb-3">Математика</h3>
    <div class="row">
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="small-book-card p-2">
                <img src="{% static 'img/book.jpg' %}" alt="Книга">
                <p class="author">Райан Митчелл</p>
                <p>Парсинг с помощью Python.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}