{% load static %}

<div class="col-md-4">
    <div class="book-card bg-white p-3 text-left">
        <a href="#"><img src="{% static 'img/book.jpg' %}" class="img-fluid mb-3" alt="Книга"></a>
        <div class="tags mb-2">
            <span class="badge custom-badge me-1">Новое</span>
            <span class="badge custom-badge me-1">Программирование</span>
        </div>
        <p class="mb-2">Парсинг с помощью Python.</p>
        <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-custom">Подробнее</button>
            <p class="price mb-0">881 ₽</p>
        </div>
    </div>
</div>