<div class="col-md-4 h-100">
    <div class="book-card bg-white p-3 text-left h-100">
        <a href="{% url 'catalog:details' book.id %}"><img src="{{ book.cover_image.url }}" class="img-fluid mb-3" alt="Книга"></a>
        <div class="tags mb-2">
            {% for tag in book.tags.all|slice:":2"  %}
            <span class="badge custom-badge me-1">{{ tag.name }}</span>
            {% endfor %}
            <span class="badge custom-badge me-1">{{ book.category.title }}</span>
        </div>
        <p class="mb-2">{{ book.title|truncatechars:30 }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-custom">Подробнее</button>
            <p class="price mb-0">{{ book.price }} ₽</p>
        </div>
    </div>
</div>