{% for book in book_list  %}

<div class="col-md-3">
    <div class="book-card-catalog">

        <div>
            {% if book.is_avaible %}
                <span class="badge custom-badge mb-2">В наличии</span>
            {% else  %}
                <span class="badge custom-badge mb-2">Не в наличии</span>
            {% endif %}
        </div>

        <a href="#">
            <img src="{{ book.cover_image.url }}" class="img-fluid mb-3" alt="Обложка книги">
        </a>
        
        <div class="justify-content-left align-items-center mb-2">
            {% for tag in book.tags.all|slice:":2"  %}
                <span class="badge custom-badge">{{ tag.name }}</span>
            {% endfor %}
        </div>

        <div class="book-card-info">
            <p class="text-muted small mb-2">{{ book.author }}</p>
            <p class="mb-2">{{ book.title|truncatechars:30 }}</p>
        </div>
        
        <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-custom btn-sm">Подробнее</button>
            <span class="price">{{ book.price }} ₽</span>
        </div>
    </div>
</div>
{% endfor %}