{% if user.is_authenticated %}
  {% load django_bootstrap5 %}
  <form method="post" action="{% url 'catalog:add_comment' book.id %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-custom btn-sm" type="submit" value="Отправить">
  </form>
{% endif %}
<br>
{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <img src="{{ comment.user.avatar.url }}" alt="Avatar" class="c-avatar">
        <a href="{% url 'accounts:profile' comment.user.username %}" name="comment_{{ comment.id }}">
          @{{ comment.user.username }}
        </a>
      </h5>
      <small class="text-muted">{{ comment.created_at }}</small>
      <br>
      {{ comment.text|linebreaksbr }}
    </div>
    {% if user == comment.user %}
      <a class="btn btn-sm text-muted" href="{% url 'catalog:edit_comment' comment.book.id comment.id %}" role="button">
        Отредактировать комментарий
      </a>
      <a class="btn btn-sm text-muted" href="{% url 'catalog:delete_comment' comment.book.id comment.id %}" role="button">
        Удалить комментарий
      </a>
    {% endif %}
  </div>
{% endfor %}