{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-3">
        <a class="navbar-brand" href="{% url 'homepage:index' %}"><span id="brand-k">К</span><span id="brand-x">нигликс</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% with request.resolver_match.view_name as view_name %}
                    <li class="nav-item">
                        <a class="nav-link" 
                            {% if view_name == 'homepage:index' %} 
                                id="active" 
                            {% endif %} 
                            href="{% url 'homepage:index' %}">Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                            {% if view_name == 'catalog:catalog_main' %}
                                id="active" 
                            {% endif %} 
                            href="{% url 'catalog:catalog_main' %}">Каталог
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Мои книги</a></li>
                    <li class="nav-item nav-item-with-avatar">
                        <a class="nav-link" href="#">Мой кабинет</a>
                        <a href=""><img src="{% static "img/avatar.png" %}" alt="Avatar" class="avatar"></a>
                    </li>
                {% endwith %}
            </ul>
        </div>
    </nav>
</header>