<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'accounts:profile' request.user %}">
                    <i class="fas fa-user me-2"></i> Мой Профиль
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-box me-2"></i> Мои заказы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:wishlist' request.user %}">
                    <i class="fas fa-heart me-2"></i> Желаемое
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:edit_profile' %}">
                    <i class="fas fa-cog me-2"></i> Настройки профиля
                </a>
            </li>
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input class="nav-link text-danger" type="submit" value="Выйти">
                </form>
            </li>
        </ul>
    </div>
</nav>