{% extends "base.html" %}

{% block content %}
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ book.cover_image.url }}" alt="Book Cover" class="book-image">
            </div>
            <div class="col-md-8">
                <h1>{{ book.title }}</h1>

                <div class="justify-content-left align-items-center mb-5">
                    <span class="badge custom-badge me-2">{{ book.category.title }}</span>
                    {% for tag in book.tags.all|slice:":5"  %}
                        <span class="badge custom-badge me-1">{{ tag.name }}</span>
                    {% endfor %}
                </div>

                <p><strong>Автор: </strong>{{ book.author.name }}</p>
                {% if book.publisher.name %}
                    <p><strong>Издательство: </strong>{{ book.publisher.name }}</p>
                {% endif %}

                {% if book.page_count %}
                    <p><strong>Кол-во страниц: </strong>{{ book.page_count }}</p>
                {% endif %}

                <div class="price-block">
                    {% if book.is_avaible %}
                        <div class="in-stock"><i class="fas fa-check"></i> В наличии </div>
                    {% else %}
                        <div class="not-in-stock"><i class="fas fa-check"></i> Не в наличии </div>
                    {% endif %}
                    <div class="inblock-price">{{ book.price }} ₽</div>
                    <div class="checkbox-label">
                        <input type="checkbox" checked>
                        <label>{{ book.get_book_format_display }}</label>
                    </div>

                    <div class="buttons-container">
                        <button class="btn btn-custom btn-sm"
                        {% if not book.is_avaible %} disabled {% endif %}
                        >Купить</button>
                        <button class="btn btn-custom-desired btn-sm">Желаемое</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="description">
            <h3>Описание:</h3>
            {% if book.description %}
                <p>{{ book.description }}</p>
            {% else %}
                <p>Книга "{{ book.title }}", написанная {{ book.author.name }}.</p>
            {% endif %}
        </div>
        {% if related_books %}
        <div class="row">
            <h2 class="mt-5 pb-3">Из этой категории</h2>
            {% for book in related_books %}
                {% include "includes/small_book_card.html" %}
            {% endfor %}
        </div>
        {% endif %}
        {% if related_tag_books %}
        <div class="row">
            <h2 class="mt-5 pb-3">Похожие по содержанию</h2>
                {% for book in related_tag_books %}
                    {% include "includes/small_book_card.html" %}
                {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
{% endblock content %}