{% extends "base.html" %}

{% block title %}
    Книгликс - {{ book.title }}
{% endblock title %}

{% block content %}
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ book.cover_image.url }}" alt="Book Cover" class="book-image">
            </div>
            <div class="col-md-8">
                <h1>{{ book.title }}</h1>

                <div class="justify-content-left align-items-center mb-5">
                    <span class="badge custom-badge me-2">{{ book.category.title }}</span>
                    {% for tag in book.tags.all|slice:":5"  %}
                        <span class="badge custom-badge me-1">{{ tag.name }}</span>
                    {% endfor %}
                </div>

                <p><strong>Автор: </strong>{{ book.author.name }}</p>
                {% if book.publisher.name %}
                    <p><strong>Издательство: </strong>{{ book.publisher.name }}</p>
                {% endif %}

                {% if book.page_count %}
                    <p><strong>Кол-во страниц: </strong>{{ book.page_count }}</p>
                {% endif %}

                <div class="price-block mt-3">
                    {% if book.is_avaible %}
                        <span class="badge bg-success mb-2">
                            <i class="fas fa-check me-1"></i> В наличии
                        </span>
                    {% else %}
                        <span class="badge bg-danger mb-2">
                            <i class="fas fa-times me-1"></i> Не в наличии
                        </span>
                    {% endif %}
                
                    <h4 class="text-primary mb-2">{{ book.price }} ₽</h4>
                
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="bookFormat" checked disabled>
                        <label class="form-check-label" for="bookFormat">{{ book.get_book_format_display }}</label>
                    </div>
                
                    <div class="d-flex flex-column gap-2">
                        {% if book.is_avaible %}
                            <form method="post" action="{% url 'cart:add' book.id %}" class="d-flex align-items-center gap-2">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="1" min="1" max="{{ book.stock }}" class="form-control form-control-sm" style="width: 80px;">
                                <button type="submit" class="btn btn-primary btn-sm flex-grow-1">Добавить в корзину</button>
                            </form>
                        {% else %}
                            <button class="btn btn-secondary btn-sm" disabled>Добавить в корзину</button>
                        {% endif %}
                        {% if book in request.user.wishlist.all %}
                            <a href="{% url 'accounts:remove_from_wishlist' book.id %}" class="btn btn-outline-warning btn-sm">Убрать из желаемого</a>
                        {% else %}
                            <a href="{% url 'accounts:add_to_wishlist' book.id %}" class="btn btn-outline-success btn-sm">Добавить в желаемое</a>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
        <div class="description">
            <h3>Описание:</h3>
            {% if book.description %}
                <p>{{ book.description }}</p>
            {% else %}
                <p>Книга "{{ book.title }}", написанная {{ book.author.name }}.</p>
            {% endif %}
        </div>

        <div>
        <h3 class="mb-2 mt-5">Комментарии:</h3>
            {% include "includes/comments.html" %} 
            {% if not comments %} <p>Комментариев нет</p> {% endif %}
        </div>

        {% if related_books %}
        <div class="row">
            <h2 class="mt-5 pb-3">Из этой категории</h2>
            {% for book in related_books %}
                {% include "includes/small_book_card.html" %}
            {% endfor %}
        </div>
        {% endif %}
        {% if related_tag_books %}
        <div class="row">
            <h2 class="mt-5 pb-3">Похожие по содержанию</h2>
                {% for book in related_tag_books %}
                    {% include "includes/small_book_card.html" %}
                {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
{% endblock content %}